<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <!--GOOGLE-FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <!--FONT-AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <title>Daily News</title>
</head>
<body>
    
    <!--NAV-->
    <di class="nav">
        <nav>
            <ul>
                <li><i class="fa-solid fa-user"></i><a href="">Login</a></li>
                <li><i class="fa-solid fa-user-group"></i><a href="">Sign up to Daily news</a></li>
                <li><i class="fa-solid fa-earth-americas"></i><a href="">Home page</a></li>
            </ul>
        </nav>
    </di>

    <!--MENU-BTN-->
    <di class="menu-btn"><i class="fa-solid fa-bars-staggered"></i></di>
    
    <!--logo-->
    <div class="logo">
        <h1>news <span>daily</span></h1>

    </div>

    <!--MAIN-CONTENT-->

    <section class="background">
        
        <div class="grid-container">
           

        </div>
    </section>
    
     <!--FOOTER-->
     <footer class="footer"></footer>
    
    <script src="/public/js/index.js"></script>
    <script src="/public/js/footer.js"></script>
    <script src="/public/js/nav.js"></script>


</body>
</html>